# Extraction / chargement
kaggle>=1.6
boto3>=1.34
python-dotenv>=1.0

# Streaming
paho-mqtt>=2.0
confluent-kafka>=2.4

# Bases de donnees
psycopg2-binary>=2.9
clickhouse-connect>=0.7

# Orchestration
apache-airflow>=2.9

# Tests
pytest>=8.0
